<div>
  <div>
    <ul>
      <a routerLink="/medico"><button class="btn btn-success pull-right">Medico</button></a>
      <a routerLink="/mascota"><button class="btn btn-success pull-right">Mascota</button></a>
      <a routerLink="/propietario"><button class="btn btn-success pull-right">Propietario</button></a>
      <a routerLink="/cita"><button class="btn btn-success pull-right">Cita</button></a>
    </ul>
  </div>
  <hr>
  <a routerLink="/"><button class="btn btn-success pull-right">Salir</button></a>
</div>